<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú de Productos</title>
</head>
<body>
    <h1 th:text="${nombre}"></h1>
	
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
				<th>Stock</th>
				<th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
				<td th:text="${producto.idProducto}"></td>
                <td th:text="${producto.nombreProducto}"></td>
                <td th:text="${producto.precio}"></td>
				<td th:text="${producto.stock}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>